* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    
}
body {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.logo a {
    font-weight: 800;
    color: #7C93C3;
    float:left;
    font-size: 3rem;
}
.logo a:hover {
    text-decoration: underline;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80x;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #001F3F;
    z-index: 1;
}
.menu {
    position: relative;
    float: right;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden ;
    height: 61px;
    justify-content: end;
    display: flex;
    align-items: center;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: #7C93C3 ;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    font-size: 13px;
}
nav ul li a:hover {
    text-decoration: underline;
}
.home {
    padding: 0px 6.7% 0px 6.7%;
    align-items: center;
    width: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.home .welcome {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
}
.home .des {
    flex: 2;
}
.home .des h1 {
    font-weight: bold;
    font-size: 200%;
}
.home .des p {
    font-size: 13px;
    margin-left: 17px;
    color: #3f3f3c;
}
.homepic img{
    border: solid;
    width: 400px;
    border-radius: 20px;
    border-width: 30px;
    border-image: url(https://images.getbento.com/accounts/d48c31d33aab2e64c03bffa365760c0f/media/images/96537borders.png) 30 30 round;
}